* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.ui.card > .card > .image {
  height: 150px;
  padding:25px;
  background: #FFF;
  margin: auto
}

.ui.card > .card > .image > img {
  height: 100px;
  max-width: 100%;
  width: auto;
  height: auto
}
.ui.card > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}
.ui.card > .card > .content > .desc {
  height: 35px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.card > .card > .meta.price {
  font-size: 1.3rem;
  color: #222;
}
.ui.menu.fixed {
  height:60px;
  padding-top: 15px;
}
.ui.grid.container {
  margin-top: 45px;
}